node_modules
src/db/userdata/profilepics/*
src/db/users/*
src/db/uservideoprogress/*
src/config.json
*/.DS_Store
*.js
*.map.js
*.css
*.map.css
.vscode

!src/db/userdata/profilepics/default.jpg